<div class="container my-4">
  <%= simple_form_for @patient do |f| %>
    <div class="form-group">
      <%= f.input :first_name, label: 'First Name', input_html: { class: 'form-control' }, required: true %>
    </div>

    <div class="form-group">
      <%= f.input :last_name, label: 'Last Name', input_html: { class: 'form-control' }, required: true %>
    </div>

    <div class="form-group">
      <%= f.input :email, label: 'Email', input_html: { class: 'form-control' }, required: true %>
    </div>

    <div class="form-group">
      <%= f.input :next_appointment, as: :datetime, label: 'Next Appointment', input_html: { class: 'form-control' }, required: false %>
    </div>

    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
