<div class="container my-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Patients</h1>
  </div>

  <%= form_with url: patients_path, method: :get, local: true, class: 'mb-3' do |form| %>
    <div class="input-group w-100">
      <%= form.text_field :query, placeholder: 'Search by name or email', value: params[:query], class: 'form-control' %>
      <div class="input-group-append">
        <%= form.submit 'Search', class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-between mb-3">
    <%= link_to 'New Patient', new_patient_path, class: 'btn btn-primary' %>
    <%= link_to 'Upcoming', relevant_patients_path, class: 'btn btn-outline-info' %>
  </div>

  <%= render 'patient' %>

  <div class="d-flex justify-content-center mt-4">
    <%= paginate @patients %>
  </div>
</div>
