<div class="container my-4">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="w-50 p-4 bg-light rounded shadow-sm">
      <h2 class="text-center mb-4">Log in</h2>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs mb-3">
          <%= f.input :email,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "form-control" },
                      label: "Email" %>

          <%= f.input :password,
                      input_html: { autocomplete: "current-password", class: "form-control" },
                      label: "Password" %>
        </div>

        <div class="form-actions text-center">
          <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
